* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #121212;
}

.app-container {
    width: 100vw;
    height: 100%;
    font-family: Arial, sans-serif;

}

.app-body {
    min-height: 100vh;
    background: linear-gradient(to bottom right,
            #121212 70%, #333 30%);
}

/* Section header */
.app-header {
    background-color: #121212;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 100vw;
}

.header-container {
    max-width: 1200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative;
}

.header-center {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-left: -100px;
}

.header-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-right: 0;
    gap: 15px;
}

.header-logo {
    background-color: white;
    height: 60px;
    padding: 0;
    width: auto;
    border-radius: 8px;

}

.app-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}


/* Logo */
.responsiveimg {
    max-width: 50px;
    height: auto;
    display: block;
    margin-left: 0;
}

.login-button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: medium;
    transition: all 0.2s ease;
}

.login-button:hover {
    color: yellow;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.nav-link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    padding: 12px 20px;
    display: inline-block;
    transition: background-color 0.2s;
}

.nav-link:hover {
    color: yellow;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}



/* Section columns */
.three-column-layout {
    display: flex;
    gap: 20px;
    min-height: 80vh;
}

.column {
    padding: 10px;
    border-radius: 8px;
}

.algorithm-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background: #121212;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    text-align: center;
    margin-bottom: 20px;
}

/*Section control column*/

.controls-column {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    background-color: none;
    max-height: 420px;
    flex: 0.5;
}

.control-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
    background: linear-gradient(to bottom right,
            #212121 30%, #333 50%);
    margin-top: 20px;
    color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
}

.dash-checklist label {
    display: block;
    margin-bottom: 6px;
    padding-left: 4px;
    font-size: 15px;
    color: white;
}

.button_control {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.button_control button {
    color: white;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
}

.button_control button:disabled {
    background-color: none;
    color: red;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    cursor: not-allowed;
}

.button_control button:hover:not(:disabled) {
    color: yellow;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.checklist-container {
    margin-bottom: 20px;
}

.checklist-container h3 {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    background-color: #121212;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    padding: 8px;
    border-bottom: 2px solid rgb(196, 196, 8);
    border-left: 4px solid rgb(196, 196, 8);
}

/* Section vizualization column */
.vizu-column {
    max-width: 450px;
    flex: 2;
}

/* Section step column*/
.steps-column {
    max-width: 400px;
    flex: 1.5;
}

.steps-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 10px;
}

.step-content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.step-box {
    border-left: 5px solid rgb(196, 196, 8);
    background-color: #c7bbbb;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    animation: fadeInUp 0.5s ease forwards;
}

.step-box h5 {
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
    color: black
}

.step-box p {
    font-size: 14px;
    line-height: 1.6;
    color: black
}

.step-box::before {
    content: "✔";
    font-size: 18px;
    color: yellow;
    margin-right: 10px;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Section vizualization Graph */
.vizu-card {
    background-color: none;
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.vizu-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
}

/* Section Inputs */
.dimension-input-container {
    padding: 3px;
    width: 100%;
    margin: 0;
    background-color: none;

}

.dimension-input-container label {
    font-weight: 500;
    font-size: 15px;
}

.dimension-input-container input[type="number"] {

    background-color: #121212;
    width: 100%;
    padding: 6px 10px;
    color: white;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border 0.2s;
}

/* Home Page Section*/
/* Estilos para a página inicial */
.home-container {
    max-width: 100vw;
    margin-top: 15px;
    padding: 0;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-card {
    max-width: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    background-color: transparent;
    padding: 30px;
}

.home-background-image {
    border-radius: 0 10px 10px 0;
    size: contain;
    width: 65%;
}

.home-card h1,
.home-card h2,
.home-card h3 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: right;
}

.home-card p {
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.6;
    text-align: right;
}

.home-container-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #121212;
    background-size: contain;
    background-position: center;
    height: 400px;
    gap: 30px;
    padding-right: 50px;
}

/* Estilos para os cards da home */
.home-card {
    background-color: transparent;
    padding: 30px;
    border-radius: 0;
    flex: 1;
    min-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}


.card-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.banner-button {
    padding: 10px 20px;
    background-color: #212121;
    border: none;
    border-radius: 4px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.banner-button:hover {
    background-color: transparent;
    border: 1px solid yellow;
}

.algorithm-cards {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: linear-gradient(to top left,
            #333 50%, #121212 50%);
    flex-wrap: wrap;
    height: 300px;
    gap: 20px;
}

.algo-card {
    flex: 1;
    max-width: 300px;
    padding: 25px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #212121;
}

.algo-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.algo-card h3 {
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 0;
}

.algo-card p {
    font-size: 0.95em;
    color: #DCDCDC;
    line-height: 1.7;
}